<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.mapper.BugDetailMapper">
    <select id="getAll" resultType="com.wx.entity.BugDetail">
          SELECT * FROM bug_detail
           <where>
               <if test="id != null and id != '' and id !=0">
                   projectId=#{id}
               </if>
           </where>
           ORDER BY createdate DESC
    </select>

    <insert id="addDetail">
        INSERT INTO bug_detail VALUES(NULL,#{projectId},#{severity},#{title},#{reportUser},NOW());
    </insert>
</mapper>